version: "3.9"

services:
  app:
    build: .
    container_name: namma_seetu_app
    restart: unless-stopped
    volumes:
      - .:/var/www
    env_file:
      - .env
    depends_on:
      - db  

  web:
    image: nginx:alpine
    container_name: namma_seetu_web
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: postgres:15
    container_name: namma_seetu_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: nammaseetu_db
      POSTGRES_USER: nammaseetu_db_user
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
